# Copia este archivo a .env y rellena tus valores reales
# IMPORTANTE: .env nunca se sube a git

# Django
SECRET_KEY=django-insecure-cambia-esto-en-produccion-genera-uno-largo-aleatorio
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL 17 (local)
DB_NAME=gestor_biblioteca
DB_USER=postgres
DB_PASSWORD=AQUI_TU_PASSWORD_DE_POSTGRES
DB_HOST=127.0.0.1
DB_PORT=5432
